.board {
  display: inline-block;
  border: 3px solid black;
}

.ball {
  position: absolute;
  top: 0px;
  left: 0px;
  border: white;
  /* Force GPU rendering & compositing */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.d3-balls {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}